.menu > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;

   li {
    padding: 6px 0;

     a {
      --fill-color: #198ce6;
      position: relative;
      align-items: center;
      display: flex;
      padding: 4px 0;
      font: 700 2rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 2px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: 0.2s linear;

      div {
        color: ;
      }

      &:hover {
        background-size: 100%;
      }
    }
  }
}
