.skills {
  overflow: hidden;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: #0e0e0e;
}
section > .container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.container > h2 {
  position: relative;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #151515;
  font-size: 5em;
  line-height: 0.9em;
  letter-spacing: 4px;
}
.container > h2 > span {
  position: relative;
  z-index: 1;
  color: #fff;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%, 5%, 10.1%, 15.1% {
    color: #222;
    text-shadow: 0 0 0 #222;
  }
  5.1%, 10%, 15.2%, 25% {
    color: #fff;
    text-shadow: 0 0 10px #ff3177, 0 0 20px #ff3177, 0 0 40px #ff3177,
      0 0 80px #ff3177, 0 0 160px #ff3177;
  }
}
